body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('image/preloader.gif') 50% 50% no-repeat rgb(249,249,249);
  opacity: .8;
}
.conatiner__header{
  position: relative;
}
.header {
  min-width: 100%;
  background-color: #218c74;
  height: 80px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  opacity: 0.08;
  position: absolute;
  box-shadow: 0px 1px 10px;  
}

.header:hover{
opacity: 1;   
}

.header__list {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  margin-left: 10px;
}

.header__list li {
  margin-left: 20px;
  flex-grow: 1;

}

.header__list li:hover {
  flex-grow: 2;
  transition: 0.5s;
}

.header__list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  flex-grow: 1;
}

.header__list a:hover {
  color: white;
}

.header__container-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  padding-right: 130px;
}

.header__contact {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 30px;
}

.header__contact i:hover{
flex-grow: 2;
font-size: 50px;
transition: 0.5s;
}

.header__contact a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.header__image {
  width: 140px;
  height: 80px;
  margin-top: 0PX;
  margin-right: 21PX;
  animation:heartBeat infinite;
  animation-duration: 2S;
  position: absolute;
  right: 0;
}


.slider{
  width: 100%;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

.slider ul{
padding: 0;
display: flex;
width: 700%;
margin: 0;

animation: cambio 30s infinite alternate;
animation-timing-function: ease-in-out;
}

.slider li {
  list-style: none;
  width: 100%;
}

.slider img {
  width: 100%;
}

@keyframes cambio {

  0% {margin-left: 0;}
  10% {margin-left: 0;}

  15% {margin-left: -100%;}
  25% {margin-left: -100%;}

  30% {margin-left: -200%;}
  40% {margin-left: -200%;}

  45% {margin-left: -300%;}
  55% {margin-left: -300%;}

  60% {margin-left: -400%;}
  65% {margin-left: -400%;}

  70% {margin-left: -500%;}
  75% {margin-left: -500%;}

  80% {margin-left: -600%;}
  90% {margin-left: -600%;}

}